<!doctype html>
<html lang="en">

<head>
    <title><%- title %></title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <meta content="Gary Wei's Website" name="description"/>
    <meta content="Gary, Wei, Guanghao, garywei944" name="keywords"/>
    <meta content="garywei944" name="author"/>

    <!-- Theme Style -->
    <link href="/css/vendor/icomoon/style.css" rel="stylesheet"/>
    <link href="/css/vendor/owl.carousel.min.css" rel="stylesheet"/>
    <link href="/css/vendor/animate.min.css" rel="stylesheet"/>
    <link href="/css/vendor/aos.css" rel="stylesheet"/>
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/vendor/jquery.fancybox.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<body data-offset="200" data-spy="scroll" data-target=".site-nav-target">

<nav class="unslate_co--site-mobile-menu">
    <div class="close-wrap d-flex">
        <a class="d-flex ml-auto js-menu-toggle" href="#">
            <span class="close-label"> Close </span>
            <div class="close-times">
                <span class="bar1"> </span>
                <span class="bar2"> </span>
            </div>
        </a>
    </div>
    <div class="site-mobile-inner">
    </div>
</nav>

<div class="unslate_co--site-wrap">
    <div class="unslate_co--site-inner">
        <div class="lines-wrap">
            <div class="lines-inner">
                <div class="lines">
                </div>
            </div>
        </div>
        <!-- END lines -->

        <%- include(appRoot+'/views/partials/nav') %>

        <div class="cover-v1 jarallax" id="home-section" style="background-image: url('<%= bg_img %>');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 mx-auto text-center">
                        <h1 class="heading gsap-reveal-hero"> Gary Wei </h1>
                        <h2 class="subheading gsap-reveal-hero"><%- bio %></h2>
                    </div>
                </div>
            </div>
            <a class="mouse-wrap smoothscroll" href="#about-section"> <span class="mouse"> <span class="scroll"> </span> </span>
                <span class="mouse-label"> Scroll </span> </a>
        </div>
        <!-- END .cover-v1 -->

        <!-- About -->
        <div class="unslate_co--section">
            <div class="container">
                <div class="section-heading-wrap text-center mb-5">
                    <h2 class="heading-h2 text-center divider"><span class="gsap-reveal"> Academic Profile </span></h2>
                    <span class="gsap-reveal"> <img alt="divider" src="/images/divider.png" width="76"/> </span>
                </div>
                <div class="row mt-5 justify-content-between">
                    <div class="col-12 mb-lg-0">
                        <h3 class="mb-4 heading-h3"><span class="gsap-reveal"> Checkout
                                <a href="https://acad.garywei.dev/">
                                    acad.garywei.dev
                                </a>
                                for my academic profile! </span></h3>
                        <a href="https://acad.garywei.dev/">
                            <figure class="dotted-bg gsap-reveal-img ">
                                <img alt="Academic Profile" class="img-fluid" src="/images/academic_profile.jpg"/>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- About -->
        <div class="unslate_co--section" id="about-section">
            <div class="container">
                <div class="section-heading-wrap text-center mb-5">
                    <h2 class="heading-h2 text-center divider"><span class="gsap-reveal"> About Me </span></h2>
                    <span class="gsap-reveal"> <img alt="divider" src="/images/divider.png" width="76"/> </span>
                </div>
                <div class="row mt-5 justify-content-between">
                    <div class="col-lg-7 mb-5 mb-lg-0">
                        <figure class="dotted-bg gsap-reveal-img ">
                            <img alt="Gary Wei" class="img-fluid" src="/images/about_me_pic.jpg"/>
                        </figure>
                    </div>
                    <div class="col-lg-4 pr-lg-5">
                        <h3 class="mb-4 heading-h3"><span class="gsap-reveal"> Guanghao Wei </span></h3>
                        <%- include(appRoot+'/views/partials/bio') %>
                    </div>
                </div>
            </div>
        </div>
        <!-- Logo -->
        <div class="unslate_co--section">
            <div class="container">
                <div class="owl-carousel logo-slider">
                    <div class="logo-v1 gsap-reveal">
                        <a href="#education-bhsf"> <img alt="BHSF Logo" class="img-fluid"
                                                        src="/images/logo_bhsf.png"/> </a>
                    </div>
                    <div class="logo-v1 gsap-reveal">
                        <a href="#education-umass"> <img alt="UMass Logo" class="img-fluid"
                                                         src="/images/logo_umass.png"/> </a>
                    </div>
                    <div class="logo-v1 gsap-reveal">
                        <a href="#experience-section"> <img alt="CSSA Logo" class="img-fluid"
                                                            src="/images/logo_cssa.png"/> </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Projects -->
        <div class="unslate_co--section" id="portfolio-section">
            <div class="container">
                <div class="relative">
                    <div class="loader-portfolio-wrap">
                        <div class="loader-portfolio">
                        </div>
                    </div>
                </div>
                <div id="portfolio-single-holder">
                </div>
                <div class="portfolio-wrapper">
                    <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
                        <h2 class="mr-auto heading-h2"><span class="gsap-reveal"> Projects </span></h2>
                        <a class="text-white js-filter d-inline-block d-lg-none" href="#"> Filter </a>
                        <div class="filter-wrap">
                            <div class="filter ml-auto" id="filters">
                                <a class="active" data-filter="*" href="#"> All </a>
                                <a data-filter=".ai" href="#"> AI </a>
                                <a data-filter=".os" href="#"> OS </a>
                                <a data-filter=".web" href="#"> Web </a>
                                <a data-filter=".iot" href="#"> IoT </a>
                                <a data-filter=".game" href="#"> Game </a>
                                <a data-filter=".other" href="#"> Other </a>
                            </div>
                        </div>
                    </div>
                    <div class="row gutter-isotope-item" id="posts">
                        <% for (let i in projects) { %>
                            <div class="item <%= projects[i].class %> col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                                <a class="portfolio-item isotope-item gsap-reveal-img" data-id="<%= i %>"
                                   href="<%= projects[i].link %>">
                                    <div class="overlay">
                                        <span class="wrap-icon icon-link2"> </span>
                                        <div class="portfolio-item-content">
                                            <h3><%= projects[i].title %></h3>
                                            <p><%= projects[i].note %></p>
                                        </div>
                                    </div>
                                    <img alt="Image" class="lazyload img-fluid"
                                         src="<%= projects[i].img %>"/>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>


        <div class="unslate_co--section" id="blog-section">
            <div class="container">
                <div class="section-heading-wrap text-center mb-5">
                    <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Blogs</span></h2>
                    <span class="gsap-reveal"><img src="/images/divider.png" alt="divider" width="76"></span>
                </div>


                <div class="row gutter-v4 align-items-stretch">
                    <% for (let i in blogs) { %>
                        <div class="col-sm-6 col-md-6 <%= blogs[i].class %> blog-post-entry" data-aos="fade-up"
                             data-aos-delay="0">
                            <a href="<%= blogs[i].link %>"
                               class="grid-item blog-item w-100 h-100">
                                <div class="overlay">
                                    <div class="portfolio-item-content">
                                        <h3><%= blogs[i].title %></h3>
                                        <p class="post-meta"><%= blogs[i].note1 %>
                                            <span class="small">&bullet;</span><%= blogs[i].note2 %>
                                        </p>
                                    </div>
                                </div>
                                <img src="<%= blogs[i].img %>" class="lazyload" alt="Blog Subshell"/>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- END blog posts -->
        <!-- Education -->
        <div class="unslate_co--section" id="education-section">
            <div class="container">
                <div class="section-heading-wrap text-center mb-5">
                    <h2 class="heading-h2 text-center divider"><span class="gsap-reveal"> Education </span></h2>
                    <span class="gsap-reveal"> <img alt="divider" src="/images/divider.png" width="76"/> </span>
                </div>
                <div class="row gutter-v3">
                    <% for (let i in education) { %>
                        <div class="col-md-6 col-lg-4 mb-4" id="<%- education[i].id %>">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                                <div class="wrap-icon mb-3">
                                    <img alt="Image" src="<%- education[i].img %>" width="45"/>
                                </div>
                                <h3><%- education[i].name %></h3><br>
                                <p><%- education[i].time %></p>
                                <%- include(appRoot+'/views/pages/education/'+education[i].note) %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- Awards -->
        <div class="unslate_co--section" id="award-section">
            <div class="container">
                <div class="section-heading-wrap text-center mb-5">
                    <h2 class="heading-h2 text-center divider"><span class="gsap-reveal"> Competitions & Awards </span>
                    </h2>
                    <span class="gsap-reveal"> <img alt="divider" src="/images/divider.png" width="76"/> </span>
                </div>
                <div class="row gutter-v3">
                    <% for (let i in awards) { %>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                                <div class="wrap-icon mb-3">
                                    <img alt="Image" src="<%= awards[i].img %>" width="45"/>
                                </div>
                                <h3><%- awards[i].title %></h3><br>
                                <p><%- awards[i].date %></p>
                                <%- include(appRoot+'/views/pages/awards/'+awards[i].content) %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- END Awards -->
        <!-- Experience -->
        <div class="unslate_co--section" id="experience-section">
            <div class="container">
                <div class="section-heading-wrap text-center mb-5">
                    <h2 class="heading-h2 text-center divider"><span class="gsap-reveal"> Experience </span></h2> <span
                            class="gsap-reveal"><img src="/images/divider.png" alt="divider" width="76"></span>
                </div>
            </div>
            <div class="owl-carousel testimonial-slider" data-aos="fade-up">
                <% for (let i in experience) { %>
                    <div>
                        <div class="testimonial-v1">
                            <div class="testimonial-inner-bg"><span class="quote">&ldquo;</span>
                                <blockquote><%- include(appRoot+'/views/pages/experience/'+experience[i].quote) %></blockquote>
                            </div>
                            <div class="testimonial-author-info"><img src="<%= experience[i].img %>" alt="Image">
                                <h3><%- experience[i].title %></h3> <span
                                        class="d-block position"><%- experience[i].subtitle %></span>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <!-- END Experience -->
        <!-- Skills -->
        <div class="unslate_co--section" id="skills-section">
            <div class="container">
                <div class="section-heading-wrap text-center mb-5">
                    <h2 class="heading-h2 text-center divider"><span class="gsap-reveal"> My Skills </span></h2>
                    <span class="gsap-reveal"> <img alt="divider" src="/images/divider.png" width="76"/> </span>
                </div>
                <div class="row gutter-v3">
                    <% for(let i in skills) { %>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                                <div class="wrap-icon mb-3">
                                    <img alt="Image" src="<%= skills[i].svg %>" width="45"/>
                                </div>
                                <h3><%- skills[i].title %></h3><br>
                                <%- include(appRoot+'/views/pages/skills/'+skills[i].content) %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="unslate_co--section" id="contact-section">
            <div class="container">
                <div class="section-heading-wrap text-center mb-5">
                    <h2 class="heading-h2 text-center divider"><span class="gsap-reveal"> Get In Touch </span></h2>
                    <span class="gsap-reveal"> <img alt="divider" src="/images/divider.png" width="76"/> </span>
                </div>

                <div class="row justify-content-between">
                    <div class="col-md-8">
                        <form method="post" action="https://formspree.io/f/mknygbqk" class="form-outline-style-v1"
                              id="contactForm">
                            <div class="form-group row mb-0">
                                <div class="col-lg-6 form-group gsap-reveal"><label for="name">Name</label> <input
                                            name="name" type="text" class="form-control" id="name"></div>
                                <div class="col-lg-6 form-group gsap-reveal"><label for="email">Email</label> <input
                                            name="email" type="email" class="form-control" id="email"></div>
                                <div class="col-lg-12 form-group gsap-reveal">
                                    <label for="message">
                                        Write your message...
                                        The message will be submitted via formspree.io
                                    </label>
                                    <textarea name="message" id="message" cols="30" rows="7"
                                              class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row gsap-reveal">
                                <div class="col-md-12 d-flex align-items-center">
                                    <input type="submit" class="btn btn-outline-pill btn-custom-light mr-3"
                                           value="Send Message"> <span class="submitting"></span></div>
                            </div>
                        </form>
                        <div id="form-message-warning" class="mt-4"></div>
                        <div id="form-message-success"> Your message was sent, thank you!</div>
                    </div>

                    <!--                    <div class="col-md-8">-->
                    <!--                        <figure class="">-->
                    <!--                            <img alt="Gary Wei" class="img-fluid" src"/images/contact_bg.jpg"/>-->
                    <!--                        </figure>-->
                    <!--                    </div>-->
                    <div class="col-md-4">
                        <div class="contact-info-v1">
                            <div class="gsap-reveal d-block">
                                <span class="d-block contact-info-label"> Email </span>
                                <a class="contact-info-val" href="mailto:garywei944@gmail.com">
                                    garywei944@gmail.com </a> <br>
                                <a class="contact-info-val" href="mailto:guanghaowei@umass.edu">
                                    guanghaowei@umass.edu </a> <br>
                                <a class="contact-info-val" href="mailto:garywei944@163.com">
                                    garywei944@163.com </a>
                            </div>
                            <!--                            <div class="gsap-reveal d-block">-->
                            <!--                                <span class="d-block contact-info-label">Phone</span>-->
                            <!--                                <a href="#" class="contact-info-val">+1</a>-->
                            <!--                            </div>-->
                            <!--                            <div class="gsap-reveal d-block">-->
                            <!--                                <span class="d-block contact-info-label">Address</span>-->
                            <!--                                <address class="contact-info-val">273 South Riverview Rd. <br> New York, NY 10011-->
                            <!--                                </address>-->
                            <!--                            </div>-->
                            <div class="gsap-reveal d-block">
                                <%- include(appRoot+'/views/partials/profiles') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END .unslate_co-site-inner -->

    <%- include(appRoot+'/views/partials/footer') %>

    <!-- Loader -->
    <div id="unslate_co--overlayer"></div>
    <div class="site-loader-wrap">
        <div class="site-loader">
        </div>
    </div>
    <script src="/js/scripts-dist.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/contact-form.js"></script>
</div>
</body>